@model EduDataAPI.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>SDMU Dashboard</h1>
Lets see what zaza can code in <span style="text-decoration: line-through;">a</span> two days.

<h3>@ViewData["ActionResult"]</h3>

<h2>Manage Data Elements</h2>
<div class="row">
    <h2>@ViewData["Message"]</h2>
    <div class="col-md-3">
        <form asp-action="Index">
            <label asp-for="DataID"></label>
            <br/>
            <input asp-for="DataID" placeholder="eg: edu306"/>
            <br/>
            <input type="submit" value="Find" />
        </form>
    </div>
    
    <form asp-action="Index">
        <div class="col-md-3">
            <label asp-for="DataID"></label>
            <br/>
            <input asp-for="DataID" placeholder="eg: edu306"/>
            <br/>
            <label asp-for="name"></label>
            <br/>
            <input asp-for="name" value="@ViewData["name"]"/>
            <br/>
            <label asp-for="domain"></label>
            <br/>
            <input asp-for="domain" value="@ViewData["domain"]"/>
            <br/>
            <label asp-for="status"></label>
            <br/>
            <input asp-for="status" value="@ViewData["status"]"/>
            <br/>
            <label asp-for="definition"></label>
            <br/>
            <input asp-for="definition" value="@ViewData["definition"]"/>
            <br/>
            <label asp-for="guidance"></label>
            <br/>
            <input asp-for="guidance" value="@ViewData["guidance"]"/>
            <br/>
            <label asp-for="identifier"></label>
            <br/>
            <input asp-for="identifier" value="@ViewData["identifier"]"/>
            <br/>
            <label asp-for="sourceURL"></label>
            <br/>
            <input asp-for="sourceURL" value="@ViewData["sourceURL"]"/>
            <br/>
            <label asp-for="version"></label>
            <br/>            
            <input asp-for="version" value="@ViewData["version"]"/>
            <br/>

            <h4>Data Type</h4>
            <label asp-for="dataTypeFacetPattern"></label>
            <br/>
            <input asp-for="dataTypeFacetPattern" value="@ViewData["dataTypeFacetPattern"]"/>
            <br/>
            <label asp-for="dataTypeFacetMaxLength"></label>
            <br/>
            <input asp-for="dataTypeFacetMaxLength" value="@ViewData["dataTypeFacetMaxLength"]"/>
            <br/>
            <label asp-for="dataTypeFacetMinInclusive"></label>
            <br/>
            <input asp-for="dataTypeFacetMinInclusive" value="@ViewData["dataTypeFacetMinInclusive"]"/>
            <br/>
            <label asp-for="dataTypeFacetMinLength"></label>
            <br/>
            <input asp-for="dataTypeFacetMinLength" value="@ViewData["dataTypeFacetMinLength"]"/>
            <br/>
            <label asp-for="dataTypeType"></label>
            <br/>
            <input asp-for="dataTypeType" value="@ViewData["dataTypeType"]"/>
            <br/>
            <label asp-for="dataTypeValues"></label>
            <br/>            
        </div>
        <div class="col-md-3">
            
            <label asp-for="changeSetID"></label>
            <input asp-for="changeSetID" placeholder="1" value="@ViewData["changeSetID"]"/>

            <label asp-for="changeAction"></label>
            <input asp-for="changeAction" placeholder="A=Acc,U=Update,D=Delete"/>
            
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>